coverage[toml]==5.5
flake8==3.9.2
flake8-docstrings==1.6.0
isort==5.9.3
mypy==0.942
pep8-naming==0.11.1
pre-commit==2.14.0
pyproject-flake8==0.0.1a2
pytest==7.1.1
pytest-env==0.6.2
pytest-cov==2.9.0
pytest-mock==3.6.1
types-requests==2.27.15